* {
  box-sizing: border-box;
  text-align: center;
}

body {
	font-size: 24px;
	line-height: 32px;
	color: #333;
	background-image: url("../images/concrete_seamless.png");
}
a: link {
	text-decoration: none;
	color: #777;
}
a: visited {
	text-decoration: none;
	color: #777;
}
a: hover {
	color: #4aaaa5;
}
#header {
	width: 100%;
	background-color: #ffffff;
	overflow: auto;
	border-style: none none solid none;
	border-bottom-color: #cccccc;
	font-family: 'Arial';
	font-size: 18px;
	color: #777777;
}
aside {
	float: left;
	width: 30%;
	margin-left: 150px;
	padding: 10px;
	background-color: #4aaaa5;
	color: #ffffff;
	text-align: center;
	font-family: 'Georgia';
	font-size: 28px;
}
#section-left {
	float: left;
	background-color: #ffffff;
	overflow: auto;
	width: 50%;
	height: 530px;
	margin-left: 50px;
	font-size: 16px;
}
h2 {
	font-family: "Georgia";
	float: top;
	text-align: left;
	font-size: 26px;
	border-style: none none solid none;
	border-bottom-color: #cccccc;
	color: #4aaaa5;
	background-color: #ffffff;
}
#section-right {
	float: left;
	width: 20%;
	margin-left: 80px;
	height: 50px;
	background-color: #ffffff;
}
h3 {
	font-family: "Georgia";
	border-style: none none solid none;
	border-bottom-color: #cccccc;
	color: #4aaaa5;
	font-size: 18px;
}
footer {
	background-color: #666666;
	padding: 20px;
	clear: both;
	font-family: "Arial";
	font-size: 10px;
	color: #ffffff;
	border-style: solid none none none;
	border-top-color: #4aaaa5;
	border-width: 8px;
}